body {
  background-image: linear-gradient(120deg, #2d4e7c, #457b9d);
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  color: #f1faee;
  background-color: transparent;
  border: 3px solid #0d1e35;
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

.turn-btn {
  background-image: linear-gradient(120deg, #5d9c9e, #f1faee);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 4px solid #0d1e35;
  position: relative;
  margin: 0 40px;
  transform: rotate(-90deg);
  transition: 1s;
}

.turn-btn::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 12px;
  background-color: #0d1e35;
  border-radius: 30px;
  left: 27px;
  bottom: 2px;
}
